* {
    margin: 0;
    padding: 0;
}

.app {
    margin: 0 auto;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #172528;
}

header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 3rem;
}

form {
    width: 80%;
    margin: 2.5rem;
    display: flex;
    justify-content: center;
}

form button, form input {
    padding: .5rem;
}

/* custom select */

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
}

    /* Remove IE arrow */
form select::-ms-expand {
    display: none;
}

.custom-select {
    margin-left: 4rem;
    position: relative;
    display: flex;
    padding: .5rem .1rem;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: .25em;
    border: solid .1rem #3AAFA9;
}
form select {
    flex: 1;
    padding: 0 .5em;
    color: #172528;
    cursor: pointer;
}
    /* Arrow */
.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: -1.1rem;
    right: 0;
    padding: .5rem;
    background: #3AAFA9;
    color: white;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* custom select */

form input {
    min-width: 5rem;
    width: 50%;
    border: solid .1rem #3AAFA9;
}

form button {
    background-color: #3AAFA9;
    color: #FEFFFF;
    border: none;
}

.todo-list {
    width: 80%;
    margin: 0 auto;
}

.todo-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.todo-item .buttons {
    min-width: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item button {
    margin-left: 1rem;
    padding: .5rem;
    border: none;
}

.todo-item li {
    flex-basis: 80%;
}

.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.fa-check, .fa-trash-alt {
    color: #FEFFFF;
}

.fa-times {
    color: #FEFFFF;
    font-size: 1rem;
}

.trash-button {
    background-color: #F76C6C;
}

.check-button {
    background-color: #3AAFA9;
}
